<app-main-nav-bar></app-main-nav-bar>
<button mat-button (click)="toggle()"><mat-icon>view_headline</mat-icon></button>
<mat-sidenav-container autosize>
  <mat-sidenav id="sideMenu" mode="side" opened [ngStyle]="{ 'width.em': sidenavWidth }">
    <span *ngIf="sidenavWidth > 4">
    <app-main-side-menu *ngFor="let item of navItems" [item]="item">
    </app-main-side-menu>
    </span>
    <span *ngIf="sidenavWidth < 4">
      <app-main-side-menu  *ngFor="let item of navItemCollapse" [item]="item">
    </app-main-side-menu>
    </span>

  </mat-sidenav>

  <mat-sidenav-content >
    <div>
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>

</mat-sidenav-container>
<app-legal-bar></app-legal-bar>
