<app-main-nav-bar></app-main-nav-bar>
<mat-sidenav-container autosize>
  <mat-sidenav id="sideMenu" mode="side" opened>
    <app-main-side-menu *ngFor="let item of navItems" [item]="item">
    </app-main-side-menu>
  </mat-sidenav>
  <mat-sidenav id="sideMenuRight" mode="side" opened position="end">
    <!--<app-shortcut-area></app-shortcut-area>-->
  </mat-sidenav>
  <mat-sidenav-content >
    <div>
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>

</mat-sidenav-container>
<app-legal-bar></app-legal-bar>
