<div mat-dialog-content style="opacity: 0.9;">

  <mat-card class="card" (click)="partenaire()">
    <img mat-card-image class="card-image" src="../../assets/images/background_image.jpg" alt="prestatire" >
    <mat-card-content>
      <p class="font-roboto">
        je suis partenaire
      </p>
    </mat-card-content>
  </mat-card>

  <mat-card class="card" (click)="proprietaire()">
    <img mat-card-image class="card-image" src="../../assets/images/background_image_old.jpg" alt="proprietaire" >
    <mat-card-content>
      <p class="font-roboto">
        je suis particulier
      </p>
    </mat-card-content>
  </mat-card>
</div>
