
<div id="cookiesConsent" class="cookiesconsent body-1" *ngIf="!cookies_consent">
    <p class="mat-body-1">
        Nous utilisons les cookies pour vous fournir la meilleure expérience possible. <br/>
        <a id="more" href="../assets/documents/CGU.pdf" target="_blank" >En savoir plus</a>
    </p>
    <button (click)="accept()" >OK</button>
</div>

<footer class="mat-body" >
  <p>© HouseSkipper 2019</p>
  <a href="" (click)="cookies_consent = false" >Actualiser les paramètres des cookies</a>
  <a href="../assets/documents/CGU.pdf" target="_blank" >Politique de confidentialité</a> <mat-icon svgIcon="call_made"></mat-icon>
  <a href="../assets/documents/CGU.pdf" target="_blank" >CGU</a> <mat-icon svgIcon="call-made"></mat-icon>
</footer>
