<h1 mat-dialog-title>Ajouter un raccourci sur la page courante</h1>
<div mat-dialog-content>
  <form class="example-form" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <input matInput placeholder="Nom du raccourci" required [(ngModel)]="shortcut.name" name="name"/>
    </mat-form-field>
    <div mat-dialog-content class="example-form">
      <button mat-raised-button type="submit" color="primary">Sauvegarder</button>
    </div>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-raised-button class="close" (click)="onNoClick()" color="warn">Annuler</button>
</div>
