.example-form {
    display: flex;
    flex-direction: column;
}

.example-form > * {
    width: 100%;
}

.close{
    width: 100%;
}

.radio{
    padding: 1vh;
}

#login-container {
    padding: 15px;
    justify-content: inherit;
    align-content: inherit;
}