<h1 mat-dialog-title>{{data}}</h1>
<div mat-dialog-content>
  <div *ngIf="step === 'tache'" [@slideInOut]>
  <form class="example-form" (ngSubmit)="toFile()">
    <mat-form-field>
      <input matInput placeholder="Tâche" required [(ngModel)]="blogTask.name" name="name"/>

    </mat-form-field>
    <mat-form-field>
      <mat-select matInput placeholder="Choisissez une pièce" required [(ngModel)]="blogTask.room" name="room">
        <mat-option *ngFor="let room of rooms" [value]="room.roomName">
          {{ room.roomName }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <textarea matInput placeholder="Description de la tâche" required [(ngModel)]="blogTask.description" name="description"></textarea>
    </mat-form-field>
    <div *ngIf="addMode">
      Voulez-vous une estimation pour votre demande ? <br/>
      <mat-radio-group>
        <mat-radio-button (click)="setOption()" value="1" class="radio">Oui</mat-radio-button>
        <mat-radio-button (click)="setOption()" value="2" class="radio">Non</mat-radio-button>
      </mat-radio-group>
    </div>
    <mat-form-field *ngIf="option === 'oui'" >
      <mat-select matInput placeholder="Budget" required [(ngModel)]="blogTask.budget" name="budgets">
        <mat-option *ngFor="let budget of budgets" [value]="budget.value">
          {{ budget.viewValue }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field *ngIf="option === 'non'">
      <input matInput placeholder="Budget" required [(ngModel)]="blogTask.budget" name="budget"/>
    </mat-form-field>

    <mat-error id="errorMessage" *ngIf="errorMsg" class="alert alert-danger">{{errorMsg}}</mat-error><br/>

    <button mat-raised-button type="submit" color="primary">Suivant</button>
    </form>
  </div>
  <div *ngIf="step === 'file'" mat-dialog-content class="example-form" [@slideInOut]>
    <h4 mat-dialog-content>Charger vos fichiers pour la demande : {{blogTask.name}}</h4><br/>
    <input type="file" name="file" ng2FileSelect [uploader]="uploader" />
    <br/>
    <button mat-raised-button type="submit" (click)="onSaveFile(blogTask.name)" [disabled]="!uploader.getNotUploadedItems().length" color="primary">Sauvegarder et charger le fichier</button>
  </div>
</div>
<div mat-dialog-actions>
  <button mat-raised-button class="close" (click)="onNoClick()" color="warn">Annuler</button>
</div>
