<div class="login">
    <div id="login-container">
        <form class="form-container" novalidate [formGroup]="form">
            <mat-icon id="logo" svgIcon="icon-logo"></mat-icon>
            <h1 class="mat-headline">La plateforme pour vos travaux d’habitation</h1>
            <mat-card class="align-center" style="opacity: 0.9;">
                <h1 class="mat-headline">Se connecter</h1>
                    <mat-form-field appearance="fill">
                        <mat-label>Email Address</mat-label>
                        <input matInput placeholder="Email Address" formControlName="username">
                    </mat-form-field>
                    <mat-form-field appearance="fill">
                        <mat-label>Password</mat-label>
                        <input matInput placeholder="Password" type="password" formControlName="password">
                    </mat-form-field>
                    <mat-error *ngIf="errorMsg" class="alert alert-danger">{{errorMsg}}</mat-error>
                    <button id="submitButton" color="accent" mat-button type="submit"  (click)="submit(form.value)">Log in</button>
                    <button id="createButton" mat-button class="md-accent" [routerLink]="['/signup']">Create an account</button>
            </mat-card>
        </form>
    </div>
</div>
