<div class="login">

    <div id="login-container">
            <mat-select id="langSelect" value="fr">
                <mat-select-trigger>
                    <mat-icon  svgIcon="icon-fr"></mat-icon>
                </mat-select-trigger>
                <mat-option value="fr">
                    <mat-icon  svgIcon="icon-fr"></mat-icon>Français
                </mat-option>
                <mat-option value="en" disabled="disabled">
                    <mat-icon  svgIcon="icon-en"></mat-icon>
                    Anglais
                </mat-option>
            </mat-select>
        <form class="form-container" novalidate [formGroup]="form">
            <mat-icon id="logo" svgIcon="icon-logo"></mat-icon>
            <h1 class="mat-headline">La plateforme pour vos travaux d’habitation</h1>
            <mat-card class="align-center" style="opacity: 0.9;">
                <h1 class="mat-headline">Se connecter</h1>
                    <mat-form-field appearance="fill">
                        <mat-label>Adresse email</mat-label>
                        <input matInput placeholder="Adresse email" formControlName="username">
                    </mat-form-field>
                    <mat-form-field appearance="fill">
                        <mat-label>Mot de passe</mat-label>
                        <input matInput placeholder="Mot de passe" type="password" formControlName="password">
                    </mat-form-field>
                    <mat-error *ngIf="errorMsg" class="alert alert-danger">{{errorMsg}}</mat-error>
                    <button id="submitButton" color="accent" mat-button type="submit"  (click)="submit(form.value)">Connexion</button>
                    <button id="createButton" mat-button class="md-accent" [routerLink]="['/signup']">Créer un compte</button>
            </mat-card>
        </form>
    </div>
</div>
