.form-container {
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    padding:20px;
    width:100vh;
}

#login-container {
    flex-basis:468px;
    align-items: center;
    height:80vh;
}

mat-form-field, button, mat-error, h1 {
    margin-left: auto;
    margin-right: auto;
    width:100vh;
}

h1 {
    text-align: center;
}


#submitButton, span, a {
    height:15%;
    width: 100%;
}

.align-center, a {
    text-align: center;
    text-decoration: none;
}