.form-container {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    padding:20px;

}

#login-container {
    justify-content: center;
    align-items: center;
    height:80vh;
}

mat-form-field, button, mat-error, h1 {
    margin-left: auto;
    margin-right: auto;

}

h1 {
    text-align: center;
}

.form-container > * {
    width: 70%;
}

#submitButton {
    width: 70%;
}