<mat-toolbar class="extend-toolbar">
  <mat-icon id="logo" svgIcon="icon-logo-wtext"></mat-icon>
  <span>{{title}}</span>
  <span class="fill"></span>
    <div *ngIf="currentUser">
      <span>Bonjour {{currentUser.username}}</span>
    </div>
    <div>
        <button class="menu-button" mat-button [routerLink]="['/']">
          <span>Accueil</span>
        </button>
    </div>
    <div *ngIf="currentUser">
      <button mat-button class="menu-button" [routerLink]="['/skills']">
        <span>Compte</span>
      </button>
      <button  mat-button class="menu-button" [routerLink]="['/users/dashboard']">
        <span>Tableau de bord</span>
      </button>
      <button mat-button class="menu-button" [routerLink]="['/users/houses']">
        <span>Maisons</span>
      </button>
      <button mat-button class="menu-button" (click)="logout()">
        <span>Déconnexion</span>
      </button>
    </div>
    <div *ngIf="!currentUser">
      <button  mat-button class="menu-button" [routerLink]="['/signup']">
        <span>Inscription</span>
      </button>
      <button  mat-button class="menu-button" [routerLink]="['/login']">
        <span>Connexion</span>
      </button>
    </div>
</mat-toolbar>
