#logo {
    margin-left:-5px;
    justify-self: flex-start;
    width:80px;
    height:80px;
    margin-right:10px;
}

.mat-toolbar {
    display:inline-flex;
    justify-content: flex-end;
    background: none;
    box-shadow: 0 1px 1px lightgrey;
}

.fill {
    flex: 1 1 auto;
}

.menu-button {
    width: inherit;
}

#logoA {
    text-decoration: none;
    display: flex;
    text-align: left !important;
}

#hello {
    color: darkgray;
    font-size:14px;
}

.extend-toolbar {
    box-shadow: 0 0.2em 0.3em rgba(0, 0, 0, 0.075);
}

#house {
    font-weight: 600;
    align-self: center;
    text-decoration: none;
    font-family: 'D-DIN-Bold';
    color: #8E9DC3;
}

#skipper {
    font-weight: 600;
    align-self: center;
    text-decoration: none;
    font-family: 'D-DIN-Bold';
    color: #3B3967;
}

.icon {
    color: #8C9BC0;
    cursor: pointer;
}

