#logo {
    margin-left:-5px;
    justify-self: flex-start;
    width:65%;
    height: 65%;
}

.mat-toolbar {
    display:inline-flex;
    justify-content: flex-end;
    background: none;
    box-shadow: 0 1px 1px lightgrey;
}

.fill {
    flex: 1 1 auto;
}

.menu-button {
    width: inherit;
}

#logoA {
    text-align: left !important;
}

#hello {
    color: darkgray;
    font-size:14px;
}

.extend-toolbar {
    box-shadow: 0 0.2em 0.3em rgba(0, 0, 0, 0.075);
}
