<div class="content-page">
  <br>
  <div class="container">
    <div class="container">
      <div fxLayout="column" fxLayoutGap="20px" fxLayout.gt-md="row" align="center" class="content">
      </div>
    </div>
    <br>
    <div class="container">
      <div layout="row" Align="center center" class="content">
        <mat-card class="card" >
          <mat-card-title fxLayout.gt-xs="row" fxLayout.xs="column">
            <h3>Demandes de travaux récentes</h3>
          </mat-card-title>
          <mat-card-content>
            <div class="example-container mat-elevation-z8 ">
              <mat-table #table [dataSource]="dataSource" (matSortChange)="sortData($event)" matSort>
                <ng-container matColumnDef="Référence">
                  <mat-header-cell *matHeaderCellDef mat-sort-header> Référence </mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.id }} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="Etat" mat-sort-header>
                  <mat-header-cell *matHeaderCellDef> Etat </mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.status}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="Nom" mat-sort-header>
                  <mat-header-cell *matHeaderCellDef> Nom </mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.nom}} </mat-cell>
                </ng-container>
                <ng-container  matColumnDef="Habitation concernée">
                  <mat-header-cell *matHeaderCellDef> Habitation </mat-header-cell>
                  <mat-cell  *matCellDef="let element "> {{element.partiesExacte[0].local}}..</mat-cell>
                </ng-container>
                <ng-container matColumnDef="Type travaux">
                  <mat-header-cell *matHeaderCellDef> Type travaux </mat-header-cell>
                  <mat-cell *matCellDef="let element"> <span *ngIf="element.type === ''">Principal</span><span *ngIf="element.type !== ''">Principal</span>  </mat-cell>
                </ng-container>
                <ng-container matColumnDef="Résultat attendu">
                  <mat-header-cell *matHeaderCellDef> Résultat attendu </mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.resultat}} </mat-cell>
                </ng-container>
                 <ng-container matColumnDef="file">
                  <mat-header-cell *matHeaderCellDef> Piece jointe </mat-header-cell>
                   <mat-cell *matCellDef="let element">
                     <mat-select matInput placeholder="Choisissez un fichier" (click)="filesNames(element.id)" [ngModel]="blogFile.filename" [(ngModel)]="blogFile.file" name="fileToDownload">
                       <mat-option *ngFor="let file of files" [value]="file">
                         {{ file }}
                       </mat-option>
                     </mat-select>
                   </mat-cell>
                </ng-container>

                <ng-container matColumnDef="delete">
                  <mat-header-cell *matHeaderCellDef></mat-header-cell>
                  <mat-cell *matCellDef="let element">
                    <a (click)="deleteTask(element.id)"
                       type="button">
                      <mat-icon class="icon">delete</mat-icon>
                    </a>
                    <a (click)="editTask(element)"
                       type="button">
                      <mat-icon class="icon">edit</mat-icon>
                    </a>
                    <a (click)="downloadFile(blogFile.file, element.id)"
                       type="button">
                      <mat-icon class="icon">cloud_download</mat-icon>
                    </a>
                  </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
              </mat-table>
            </div>

          </mat-card-content>
        </mat-card>
        <mat-error id="errorMessage" *ngIf="errorMsg" class="alert alert-danger">{{errorMsg}}</mat-error>
        <mat-paginator [length]="100"
                       [pageSize]="5"
                       [pageSizeOptions]="[5, 10, 25, 100]">
        </mat-paginator>
      </div>
    </div>
  </div>
</div>
