<mat-accordion class="example-headers-align justify-content" >

    <mat-horizontal-stepper id="stepper" #stepper labelPosition="bottom" >
      <mat-step [editable]=false>
        <ng-template matStepLabel >Rédaction</ng-template>
      </mat-step>
      <mat-step [editable]=false>
        <ng-template matStepLabel>Validation</ng-template>
      </mat-step>
      <mat-step [editable]=false>
        <ng-template matStepLabel>Soumission</ng-template>
      </mat-step>
      <mat-step [editable]=false>
        <ng-template matStepLabel>Evaluationt</ng-template>
      </mat-step>
      <mat-step [editable]=false>
        <ng-template matStepLabel>Décision</ng-template>
      </mat-step>
      <mat-step [editable]=false>
        <ng-template matStepLabel>Finalisation</ng-template>
      </mat-step>
      <mat-step [editable]=false>
        <ng-template matStepLabel>Exploitation</ng-template>
      </mat-step>
    </mat-horizontal-stepper>


  <form novalidate [formGroup]="form">
    <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)"  hideToggle>
      <mat-expansion-panel-header class="right-aligned-header">
        <mat-panel-title>
          <mat-icon>location_city</mat-icon>
        </mat-panel-title>
        <mat-panel-description>
          Caractéristiques du projet
          <mat-icon svgIcon="icon-checked" *ngIf="checked(1) === 2"></mat-icon>
          <mat-icon svgIcon="icon-error" *ngIf="checked(1) !== 2"></mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div class="centerElement">
        <mat-form-field class="margin importantField" appearance="outline">
          <mat-label>Nom de la demande</mat-label>
            <input matInput placeholder="Nom de la demande" *ngIf="addMode" required [(ngModel)]="blogTask.taskName" formControlName="nom" name="nom"/>
          <input matInput placeholder="Nom de la demande" *ngIf="!addMode" required [(ngModel)]="blogTask.taskName" formControlName="nom" name="nom" readonly/>
        </mat-form-field>
      </div>
      <div class="centerElement">
        <mat-form-field class="margin importantField" appearance="outline">
          <mat-label>Habitation concérnée</mat-label>
          <mat-select placeholder="Résidence Concérnée" (closed)="roomsC()" (click)="roomsC()" formControlName="residence" [(ngModel)]="blogTask.residence" required name="residence">
            <mat-option *ngFor="let house of houses" [value]="house.houseName">
              {{ house.houseName }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="centerElement">
        <mat-form-field class="margin importantField" appearance="outline">
          <mat-label>Partie Concérnée</mat-label>
          <mat-select placeholder="Partie Concérnée" formControlName="partie" (click)="roomsC()" [(ngModel)]="blogTask.partie" required name="partie">
            <mat-option value="Construction">Construction</mat-option>
            <mat-option value="Extérieur">Extérieur</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="centerElement">
        <p>
          Quel Type de Travaux ?
        </p>
        <mat-radio-group>
          <mat-radio-button (click)="setMode('p')" style="margin: 5px;" [checked]="principal" value="1">Principal</mat-radio-button>
          <mat-radio-button (click)="setMode('s')" style="margin: 5px;" [checked]="!principal" value="2">Secondaire</mat-radio-button>
        </mat-radio-group>
      </div>
      <div class="centerElement" *ngIf="principal">
      <mat-form-field class="margin importantField" appearance="outline">
        <mat-label>Type de travaux Principal</mat-label>
        <mat-select placeholder="Type de travaux" formControlName="type" (click)="roomsC()" [(ngModel)]="blogTask.type" required name="type">
          <mat-option value="Gros œuvre">Gros œuvre</mat-option>
          <mat-option value="Seconds œuvre">Seconds œuvre</mat-option>
          <mat-option value="Aménagement paysager">Aménagement paysager</mat-option>
          <mat-option value="Petits travaux de jardinage">Petits travaux</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

      <div  class="centerElement" *ngIf="!principal">
      <div formArrayName="typeSecondaires">
        <div *ngFor="let local of form.get('typeSecondaires')['controls']; let i=index">
          <div [formGroupName]="i">
        <mat-form-field class="margin importantField" appearance="outline">
          <mat-label>Type de travaux Secondaires</mat-label>
          <mat-select placeholder="Type de travaux" formControlName="typeS" required>
            <mat-option value="Gros œuvre">Gros œuvre</mat-option>
            <mat-option value="Seconds œuvre">Seconds œuvre</mat-option>
            <mat-option value="Aménagement paysager">Aménagement paysager</mat-option>
            <mat-option value="Petits travaux de jardinage">Petits travaux</mat-option>
          </mat-select>
        </mat-form-field>
        <button mat-mini-fab color="warn"
                *ngIf="form.get('typeSecondaires')['controls'].length > 1" (click)="removeT(i)"><mat-icon>delete forever</mat-icon></button>
      </div>
          </div>
        </div>
        <mat-card-actions class="centerElement"><button mat-raised-button (click)="addTypeSec('')"><mat-icon>add box</mat-icon></button></mat-card-actions>

      </div>

      <div class="centerElement" *ngIf="form.get('residence').value === '' || form.get('partie').value === ''" >
        <mat-error class="alert alert-danger">Veuillez sélectionner une Habitation et une Partie pour les travaux.</mat-error>
      </div>
      <div formArrayName="partiesExacte" ngDefaultControl>
      <div *ngFor="let local of form.get('partiesExacte')['controls']; let i=index">
        <div [formGroupName]="i">
      <div class="centerElement" *ngIf="form.get('partie').value === 'Construction' && form.get('residence').value !== ''">
        <div>
        <mat-form-field class="margin importantField" appearance="outline">
          <mat-label>Pièce</mat-label>
          <mat-select matInput placeholder="Pièces"  required  formControlName="local">
            <mat-option *ngFor="let room of rooms" [value]="room.roomName">
              {{ room.roomName }}
            </mat-option>
          </mat-select>
        </mat-form-field>
          <button mat-mini-fab color="warn"
                  *ngIf="form.get('partiesExacte')['controls'].length > 1" (click)="removeP(i)"><mat-icon>delete forever</mat-icon></button>

        </div>
      </div>
      <div class="centerElement" *ngIf="form.get('partie').value === 'Extérieur' && form.get('residence').value !== ''" >
        <div>
        <mat-form-field class="margin importantField" appearance="outline">
          <mat-label>Parties</mat-label>
          <mat-select placeholder="Parties" formControlName="local" required name="local">
            <mat-option value="Avant">Avant</mat-option>
            <mat-option value="Derrière">Derrière</mat-option>
            <mat-option value="Droite">Droite</mat-option>
            <mat-option value="Gauche">Gauche</mat-option>
          </mat-select>
        </mat-form-field>
        <button mat-mini-fab color="warn"
                *ngIf="form.get('partiesExacte')['controls'].length > 1" (click)="removeP(i)"><mat-icon>delete forever</mat-icon></button>
        </div>
      </div>
        </div>
      </div>
      </div>
      <mat-card-actions class="centerElement"><button mat-raised-button *ngIf="blogTask.partie !== ''" (click)="addPiece('')"><mat-icon>add box</mat-icon></button></mat-card-actions>
      <mat-error id="errorMessage1" class="alert alert-danger">{{errorMsg}}</mat-error><br/>

      <mat-action-row>
        <button mat-button color="primary" *ngIf="!addMode" (click)="edit(form.value)" [disabled]="checked(1) !== 2">Modifier votre de demande</button>
        <button mat-button color="primary" (click)="nextStep()">Suivant</button>
      </mat-action-row>
    </mat-expansion-panel>


    <mat-expansion-panel [expanded]="step === 1"  (opened)="setStep(1)"  hideToggle>
      <mat-expansion-panel-header class="right-aligned-header">
        <mat-panel-title>
          <mat-icon>add_location</mat-icon>
        </mat-panel-title>
        <mat-panel-description>
          Description des attentes
          <mat-icon svgIcon="icon-checked" *ngIf="checked(2) === 1"></mat-icon>
          <mat-icon svgIcon="icon-error" *ngIf="checked(2) === 0"></mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div class="centerElement">
        <mat-form-field class="margin importantField" appearance="outline">
          <mat-label>Connaissance du projet</mat-label>
          <mat-select placeholder="Connaissance du projet" formControlName="connaissance" [(ngModel)]="blogTask.connaissance" required name="connaissance">
            <mat-option value="J’ai une idée précise">J’ai une idée précise</mat-option>
            <mat-option value="J’ai une idée qui doit être complétée">J’ai une idée qui doit être complétée</mat-option>
            <mat-option value="J’ai une vague idée et j’attends des propositions">J’ai une vague idée et j’attends des propositions</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="centerElement">
        <mat-form-field class="margin importantField" appearance="outline">
          <mat-label>Résultat attendu</mat-label>
          <mat-select placeholder="Résultat attendu" formControlName="resultat" [(ngModel)]="blogTask.resultat" required name="resultat">
            <mat-option value="Réception de devis">Réception de devis</mat-option>
            <mat-option value="Estimation budgétaire">Estimation budgétaire</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <mat-form-field class="textaeraPerso" appearance="outline" style="width: 100%;">
        <mat-label>Description du projet</mat-label>
        <textarea matInput placeholder="Description du projet" [(ngModel)]="blogTask.comment" formControlName="description"
                  name="description"></textarea>
      </mat-form-field>


      <mat-error id="errorMessage2" class="alert alert-danger">{{errorMsg}}</mat-error><br/>

      <mat-action-row>
        <button mat-button color="warn" (click)="prevStep()">Précédent</button>
        <button mat-button color="primary" *ngIf="!addMode" (click)="edit(form.value)">Modifier votre de demande</button>
        <button mat-button color="primary" *ngIf="!addMode" (click)="nextStep()" >Suivant</button>
        <button mat-button color="primary" *ngIf="addMode && taskSent===false" (click)="submit(form.value)" [disabled]="checked(1) !== 2 || checked(2) !== 1">Suivant</button>
        <button mat-button color="primary" *ngIf="addMode && taskSent===true" (click)="nextStep()">Suivant</button>
      </mat-action-row>
    </mat-expansion-panel>


    <mat-expansion-panel [expanded]="step === 2" (opened)="setStep(2)"  hideToggle>
      <mat-expansion-panel-header class="right-aligned-header">
        <mat-panel-title>
          <mat-icon>filter_none</mat-icon>
        </mat-panel-title>
        <mat-panel-description>
          Documents associés
          <mat-icon svgIcon="icon-checked" *ngIf="checked(4) === 1"></mat-icon>
          <mat-icon svgIcon="icon-OrangeChecked" *ngIf="checked(4) === 0"></mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>

      <input id="fileToUpload" type="file" (change)="onSelectFile($event)" #fileInput style="display:none;" ng2FileSelect [uploader]="uploader" >

      <mat-form-field class="margin"  style="width: 50vh;">
       <textarea matInput placeholder="Description"  required formControlName="fileDescription"
                 name="fileDescription"></textarea>
        <br/>
      </mat-form-field>
      <mat-form-field *ngIf="form.get('fileDescription').valid" class="margin" >
        <input matInput formControlName="filename" placeholder="Ajoutez une image ou un document à la fois."  readonly/>
        <br/>
      </mat-form-field>


      <button mat-button *ngIf="form.get('fileDescription').valid"  (click)="selectFile()">Selectionner</button>
      <br/>
      <h2>Documents Ajoutés : </h2>
      <mat-list>
        <mat-list-item *ngFor="let file of blogFile.files; let i=index">
          <h3 matLine> - <a >{{blogFile.description[i]}} : <a id="file" *ngIf="!addMode" (click)="downloadFile(file)">{{file}} </a>
            <a *ngIf="addMode">{{file}} </a></a> </h3>
        </mat-list-item>
      </mat-list>

      <mat-action-row>
        <button mat-button color="warn" (click)="prevStep()">Précédent</button>
        <button mat-button color="primary" *ngIf="!addMode" (click)="edit(form.value)" [disabled]="checked(1) !== 2 || checked(2) === 0">Modifier votre de demande</button>
        <button mat-button color="primary" *ngIf="!addMode" (click)="onSaveFile()" [disabled]="checked(1) !== 2 || checked(2) === 0">suivant</button>
      </mat-action-row>
    </mat-expansion-panel>

    <span  *ngFor="let block of stepperPhase; let iblock = index">
      <mat-expansion-panel [expanded]="step === iblock+3" (opened)="setStep(iblock+3)" *ngIf="!addMode"  hideToggle>
      <mat-expansion-panel-header class="right-aligned-header">
        <mat-panel-title>
          <mat-icon>school</mat-icon>
        </mat-panel-title>
        <mat-panel-description>
          Commentaires Phase {{displayedBlock[iblock]}}
          <mat-icon svgIcon="icon-OrangeChecked" *ngIf="checked(3) === -1"></mat-icon>
          <mat-icon svgIcon="icon-checked" *ngIf="checked(3) === 2"></mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>

      <div formArrayName="commentaires" ngDefaultControl>
        <div *ngFor="let local of form.get('commentaires')['controls']; let i=index">
          <div [formGroupName]="i">
            <div *ngIf="local['controls'].phasec.value === displayedBlock[iblock]">
              <mat-form-field class="margin importantField" appearance="outline" style="width: 11vh;">
                <input matInput placeholder="Date" style="cursor: not-allowed;" formControlName="datec" name="datec"  readonly/>
              </mat-form-field>
              <mat-form-field class="margin importantField" appearance="outline" style="width: 10vh;">
                <mat-label>Auteur</mat-label>
                <input matInput placeholder="Auteur" style="cursor: not-allowed;" required formControlName="auteur" name="auteur" readonly/>
              </mat-form-field>
              <mat-form-field class="margin importantField" appearance="outline" style="width: 15vh;" *ngIf="iblock === currentPhaseId -1 && i === form.get('commentaires')['controls'].length -1" >
                <mat-label>Etat</mat-label>
                <mat-select placeholder="Etat" formControlName="etat"  required name="etat">
                  <mat-option value="Pour information">Pour information</mat-option>
                  <mat-option value="Pour action">Pour action</mat-option>
                </mat-select>
                </mat-form-field>
              <mat-form-field class="margin importantField" appearance="outline" style="width: 15vh;" *ngIf=" i !== form.get('commentaires')['controls'].length -1">
                <mat-label>Etat</mat-label>
                <input matInput placeholder="Etat" required style="cursor: not-allowed;" formControlName="etat" name="etat" readonly/>
              </mat-form-field>

              <mat-form-field class="textaeraPerso" appearance="outline" style="width: 50vh;" *ngIf=" i !== form.get('commentaires')['controls'].length -1">
                <mat-label>Commentaire</mat-label>
                <textarea matInput placeholder="Commentaire" style="cursor: not-allowed;"  required formControlName="commentaire"
                          name="commentaire" readonly></textarea>
              </mat-form-field>
              <mat-form-field class="textaeraPerso" appearance="outline" style="width: 40vh;" *ngIf="iblock === currentPhaseId -1 && i === form.get('commentaires')['controls'].length -1">
                <mat-label>Commentaire</mat-label>
                <textarea matInput placeholder="Commentaire"  required formControlName="commentaire"
                          name="commentaire"></textarea>
                </mat-form-field>
              <button style="margin: 5px;" *ngIf=" iblock === currentPhaseId -1 && i === form.get('commentaires')['controls'].length -1" mat-raised-button (click)="addComment(local['controls'].auteur.value, local['controls'].etat.value,
        local['controls'].commentaire.value)"><mat-icon>create</mat-icon></button>

            </div></div></div></div>

      <mat-action-row>
        <button mat-button color="warn" (click)="prevStep()">Précédent</button>
        <button mat-button color="primary" *ngIf="!addMode" (click)="edit(form.value)" >Modifier votre de demande</button>
        <button mat-button color="primary" *ngIf="!addMode && step !== stepperPhase.length + 2" (click)="nextStep()">suivant</button>
      </mat-action-row>
    </mat-expansion-panel>
    </span>

    <div mat-dialog-content class="example-form">
      <button mat-raised-button type="submit" *ngIf="addMode" (click)="onSaveFile()" color="primary">Vers la Liste de demandes</button>
      <button mat-raised-button type="submit" *ngIf="!addMode && step === stepperPhase.length + 2" (click)="toTaskList()" color="primary">Vers la Liste de demandes</button>
    </div>
  </form>

</mat-accordion>
