<mat-accordion class="example-headers-align justify-content">
  <mat-horizontal-stepper id="stepper" #stepper labelPosition="bottom">
    <mat-step *ngFor="let level of getLevels(); let i = index" [editable]="false">
      <ng-template  matStepLabel><span matTooltip="{{tooltip(i)}}">{{level}}</span></ng-template>
    </mat-step>
  </mat-horizontal-stepper>
  <mat-expansion-panel (opened)="setStep(0)" *ngFor="let skillCategory of getSkill().skillCategories" hideToggle>
    <mat-expansion-panel-header class="right-aligned-header">
      <mat-panel-description>
        {{skillCategory.name}}
      </mat-panel-description>
    </mat-expansion-panel-header>

  </mat-expansion-panel>
</mat-accordion>
