<mat-table [dataSource]="dataSource"  class="mat-elevation-z8" (matSortChange)="sortData($event)" matSort>


  <!-- Name Column -->
  <ng-container matColumnDef="Nom">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Nom</mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.type}} </mat-cell>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="Niveau">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Niveau</mat-header-cell>
    <mat-cell *matCellDef="let element" matTooltip="{{tooltip(element.nb_works)}}">{{niveau(element.nb_works)}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="Gérer">
    <mat-header-cell *matHeaderCellDef>Gérer</mat-header-cell>
    <mat-cell *matCellDef="let element"> <mat-slider
            min="1"
            max="5"
            step="1"
            [(ngModel)]="element.nb_works"
            (ngModelChange)="save(element)"
    ></mat-slider></mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>
