#budget-metrics {
    display: flex;
    flex-direction: column;
    background: #3A3A64;
    border-radius: 4px;
    padding:20px;
    color:white;
    height:100%;
    width:100%;
    min-height:350px;
    min-width: 530px;
    box-sizing: border-box;
}

.active {
    background-color: greenyellow;
}

#buttonSpan {
    align-self: flex-end;
    margin-top:auto;
    width:100%;
    justify-content: center;
    display: flex;
}

#buttonSpan button {
    margin-left: 2px;
    margin-right:2px;
    padding-right:0px;
    padding-left:0px;
    width:40px;
}

#budget-metrics canvas {
    height:220px !important;
}
