<div>
    <!--
    <section>
        <p class="mat-title">Mise à jour du profil</p>
        <p class="mat-title">Compétences :</p>
    </section>
    -->
    <mat-list class="perso">
        <mat-list-item>
            <mat-card *ngFor="let skill of skills" class="mat-whiteframe-2dp mat-card">
                <mat-card-header>
                    <mat-card-title>{{ skill.type }} :</mat-card-title>
                    <mat-card-subtitle *ngIf="skill.nb_works < 3">Débutant</mat-card-subtitle>
                    <mat-card-subtitle *ngIf="skill.nb_works >= 3 && skill.nb_works < 5">Intermédaire</mat-card-subtitle>
                    <mat-card-subtitle *ngIf="skill.nb_works == 5">Avancé</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="https://upload.wikimedia.org/wikipedia/commons/1/1f/Tools.svg" alt="bricolage">
                <mat-card-content>
                    <section>
                        <mat-slider
                                min="0"
                                max="5"
                                step="1"
                                [(ngModel)]="skill.nb_works"
                        ></mat-slider>
                        <mat-form-field>
                            <input matInput type="number" min="0" disabled="true" placeholder="Travaux effectuées"
                                   [(ngModel)]="skill.nb_works"> <!-- [(ngModel)]="value" -->
                        </mat-form-field>
                    </section>
                </mat-card-content>
                <mat-dialog-actions align="end">
                    <button mat-raised-button color="primary" type="submit" (click)="submit(skill)">Save</button>
                </mat-dialog-actions>
            </mat-card>
        </mat-list-item>
    </mat-list>
</div>
