    <!--
    <section>
        <p class="mat-title">Mise à jour du profil</p>
        <p class="mat-title">Compétences :</p>
    </section>
    -->
    <div class="content-page">
                <mat-card *ngFor="let skill of skills">
                    <mat-card-header>
                        <mat-card-title>{{ skill.type }} :</mat-card-title>
                        <br>
                        <mat-icon *ngIf="skill.type == 'Gros Oeuvres'" class="icon-skill" svgIcon="icon-gros-oeuvres"></mat-icon>
                        <mat-icon *ngIf="skill.type == 'Seconds Oeuvres'" class="icon-skill" svgIcon="icon-seconds-oeuvres"></mat-icon>
                        <mat-icon *ngIf="skill.type == 'Petits travaux de bricolage'" class="icon-skill" svgIcon="icon-bricolage"></mat-icon>
                        <mat-icon *ngIf="skill.type == 'Petits travaux de jardinage'" class="icon-skill" svgIcon="icon-jardinage"></mat-icon>
                        <mat-icon *ngIf="skill.type == 'Aménagement paysager'" class="icon-skill" svgIcon="icon-paysage"></mat-icon>

                        <mat-card-subtitle *ngIf="skill.nb_works == 1 ">Novice</mat-card-subtitle>
                        <mat-card-subtitle *ngIf="skill.nb_works == 2">Débutant avancé</mat-card-subtitle>
                        <mat-card-subtitle *ngIf="skill.nb_works == 3">Compétent</mat-card-subtitle>
                        <mat-card-subtitle *ngIf="skill.nb_works == 4">Efficace</mat-card-subtitle>
                        <mat-card-subtitle *ngIf="skill.nb_works == 5">Expert</mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content>
                        <section>
                            <mat-slider
                                    min="1"
                                    max="5"
                                    step="1"
                                    [(ngModel)]="skill.nb_works"
                            ></mat-slider>
                            <br>
                        </section>
                    </mat-card-content>
                    <mat-dialog-actions align="end">
                        <button mat-raised-button color="primary" type="submit" (click)="submit(skill)">Save</button>
                    </mat-dialog-actions>
                </mat-card>
    </div>
