    <!--
    <section>
        <p class="mat-title">Mise à jour du profil</p>
        <p class="mat-title">Compétences :</p>
    </section>
    -->
    <div class="content-page">
                <mat-card *ngFor="let skill of skills" [routerLink]="['/skills/', skill.id]">
                    <mat-card-header>
                        <mat-card-title>{{ skill.type }} :</mat-card-title>
                        <br>
                        <mat-icon *ngIf="skill.type == 'Gros œuvre'" class="icon-skill" svgIcon="icon-gros-oeuvres"></mat-icon>
                        <mat-icon *ngIf="skill.type == 'Second œuvre'" class="icon-skill" svgIcon="icon-seconds-oeuvres"></mat-icon>
                        <mat-icon *ngIf="skill.type == 'Petits travaux'" class="icon-skill" svgIcon="icon-bricolage"></mat-icon>
                        <mat-icon *ngIf="skill.type == 'Aménagement paysager'" class="icon-skill" svgIcon="icon-paysage"></mat-icon>

                        <mat-card-subtitle *ngIf="skill.nb_works == 1" matTooltip="Personne qui possède peu ou aucune
                        expérience dans le domaine et a besoin d’un guide pour assurer un suivi des travaux.">Novice</mat-card-subtitle>
div
                        <mat-card-subtitle *ngIf="skill.nb_works == 2" matTooltip="Personne qui possède un peu d’expérience
                         dans le domaine mais reste dépendante d’un guide pour assurer
                          un suivi des travaux.">Débutant avancé</mat-card-subtitle>

                        <mat-card-subtitle *ngIf="skill.nb_works == 3" matTooltip="Personne qui commence à avoir un
                        nombre suffisant d’expériences dans le domaine pour réaliser
                        un suivi éclairé des travaux.">Compétent</mat-card-subtitle>

                        <mat-card-subtitle *ngIf="skill.nb_works == 4" matTooltip="Personne qui possède une expérience
                        suffisante du domaine pour savoir ce qu’il faut faire dans la plupart des cas pour réaliser
                        un suivi des travaux.">Efficace</mat-card-subtitle>

                        <mat-card-subtitle *ngIf="skill.nb_works == 5" matTooltip="Personne qui possède suffisamment
                        d’expérience dans le domaine pour savoir précisément ce qu’il faut faire pour réaliser un suivi
                        des travaux.">Expert</mat-card-subtitle>

                    </mat-card-header>
                   <!-- <mat-card-content>
                        <section>
                            <mat-slider
                                    min="1"
                                    max="5"
                                    step="1"
                                    [(ngModel)]="skill.nb_works"
                            ></mat-slider>
                            <br>
                        </section>
                    </mat-card-content> -->
                   <!-- <mat-dialog-actions align="end">
                        <button mat-raised-button color="primary" type="submit" (click)="submit(skill)">Sauvegarder</button>
                    </mat-dialog-actions> -->
                </mat-card>
    </div>
