<div class="content-page">
    <br>
    <div class="container">
        <div class="container">
            <div fxLayout="column" fxLayoutGap="20px" fxLayout.gt-md="row" align="center" class="content">
            </div>
        </div>
        <br>
        <div class="container">
            <div layout="row" Align="center center" class="content">
                <mat-card class="card">
                    <mat-card-title fxLayout.gt-xs="row" fxLayout.xs="column">
                        <h3>Habitations</h3>
                    </mat-card-title>
                    <mat-card-content>
                        <div class="example-container mat-elevation-z8">
                            <mat-table #table [dataSource]="dataSource">
                                <ng-container matColumnDef="House_Name">
                                    <mat-header-cell *matHeaderCellDef> Nom de la maison</mat-header-cell>
                                    <mat-cell *matCellDef="let element"> {{element.houseName}} </mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="Type">
                                    <mat-header-cell *matHeaderCellDef> Type</mat-header-cell>
                                    <mat-cell *matCellDef="let element"> {{element.houseType}} </mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="Category">
                                    <mat-header-cell *matHeaderCellDef> Catégorie</mat-header-cell>
                                    <mat-cell
                                            *matCellDef="let element"> {{element.standardType}} </mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="Lieu">
                                    <mat-header-cell *matHeaderCellDef> Lieu</mat-header-cell>
                                    <mat-cell *matCellDef="let element"> {{element.city}} </mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="NbDocs">
                                    <mat-header-cell *matHeaderCellDef> Nombres de documents </mat-header-cell>
                                    <mat-cell *matCellDef="let element"> 0 </mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="Delete">
                                    <mat-header-cell *matHeaderCellDef></mat-header-cell>
                                    <mat-cell *matCellDef="let element">
                                        <a type="button" [routerLink]="['/users/houses/' + element.id]">
                                            <mat-icon svgIcon="icon-edit">modifier</mat-icon>
                                        </a>
                                        <span></span>
                                        <a type="button" (click)="delete(element.id)">
                                            <mat-icon svgIcon="icon-delete">supprimer</mat-icon>
                                        </a>
                                    </mat-cell>
                                </ng-container>
                                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                            </mat-table>
                        </div>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </div>
</div>
