<app-main-nav-bar></app-main-nav-bar>
<mat-sidenav-container>
    <mat-sidenav id="sideMenu" mode="side" opened style="margin-left: 10px">
        <div id="buttonMenu">
            <div *ngFor="let field of fields | keyvalue; let i = index">
                <mat-icon class="iconChecked" *ngIf="check(field)" svgIcon="icon-checked"></mat-icon>
                <a mat-button (click)="setStep(field.value.values[0])" class="titleField">{{field.value.title}}</a>
                <div *ngIf="field.value.values.indexOf(step) > -1">
                    <span *ngFor="let subfield of field.value.values">
                        <mat-icon *ngIf="step === subfield">arrow_forward</mat-icon>
                        <a mat-button (click)="setStep(subfield)" class="capitalize">{{subfield}}</a>
                    </span>
                </div>
            </div>
        </div>
    </mat-sidenav>
    <mat-sidenav-content>
        <div id="signup-container">

            <form class="signup-form-container" novalidate [formGroup]="form">
                <div id="name" *ngIf="step === 'firstname'" [@slideInOut]>
                    <h2 class="mat-headline">Quel est votre prénom?</h2>
                    <mat-form-field appearance="outline">
                        <mat-label>Prénom</mat-label>
                        <input matInput placeholder="Prénom" formControlName="firstname">
                        <mat-error class="alert alert-danger">Prénom requis</mat-error>
                        <mat-error *ngIf="form.invalid && form.get('firstname').hasError('minlength')" class="alert alert-danger">Le prénom doit avoir au moins 3 lettres</mat-error>
                    </mat-form-field>
                </div>
                <div id="lastname" *ngIf="step == 'lastname'" [@slideInOut]>
                    <h2 class="mat-headline">Quel est votre nom?</h2>
                    <mat-form-field appearance="outline" [class.mgb15]="form.invalid && form.get('lastname').invalid">
                        <mat-error class="alert alert-danger">Nom requis</mat-error>
                        <mat-error *ngIf="form.invalid && form.get('lastname').hasError('minlength')" class="alert alert-danger">Le nom doit avoir au moins 3 lettres</mat-error>
                        <mat-label>Nom</mat-label>
                        <input matInput placeholder="Nom" formControlName="lastname">
                    </mat-form-field>
                </div>
                <div id="email" *ngIf="step == 'username'" [@slideInOut]>
                    <h2 class="mat-headline">Quel est votre email?</h2>
                    <mat-form-field appearance="outline" [class.mgb15]="form.invalid && form.get('username').invalid">
                        <mat-label>Adresse Email</mat-label>
                        <input matInput placeholder="Adresse Email" formControlName="username">
                        <mat-error class="alert alert-danger">Email requis</mat-error>
                        <mat-error *ngIf="form.invalid && form.get('username').hasError('pattern')" class="alert alert-danger">Email non valide</mat-error>
                    </mat-form-field>
                </div>
                <div id="password" *ngIf="step == 'password'" [@slideInOut]>
                    <h2 class="mat-headline">Quel est votre mot de passe?</h2>
                    <mat-form-field appearance="outline" [class.mgb15]="form.invalid && form.get('password').invalid">
                        <mat-error class="alert alert-danger">Mot de passe requis</mat-error>
                        <mat-error *ngIf="form.invalid && form.get('password').hasError('pattern')" class="alert alert-danger">Le mot de passe doit contenir 8 caractères avec au moins une majuscule, une minuscule, un chiffre et un caractère spécial</mat-error>
                        <mat-label>Mot de passe</mat-label>
                        <input matInput placeholder="Mot de passe" type="password" formControlName="password">
                    </mat-form-field>
                    <mat-form-field appearance="outline" [class.mgb15]="form.invalid && form.get('confirmPassword').invalid">
                        <mat-error class="alert alert-danger">Mot de passe requis</mat-error>
                        <mat-error *ngIf="form.invalid && form.get('confirmPassword').hasError('pattern')" class="alert alert-danger">Le mot de passe ne correspond pas</mat-error>
                        <mat-label>Confirmez votre mot de passe</mat-label>
                        <input matInput placeholder="Confirmez votre mot de passe" type="password" formControlName="confirmPassword">
                    </mat-form-field>
                </div>
                <div id="telephone" *ngIf="step == 'telephone'" [@slideInOut]>
                    <h2 class="mat-headline">Quel est votre numéro de téléphone?</h2>
                    <mat-form-field appearance="outline" [class.mgb15]="form.invalid && form.get('telephone').invalid">
                        <mat-label>Téléphone</mat-label>
                        <input matInput placeholder="Téléphone" formControlName="telephone">
                        <mat-error *ngIf="form.invalid && form.get('telephone').hasError('pattern')" class="alert alert-danger">Numéro de téléphone invalide</mat-error>
                    </mat-form-field>
                </div>
                <div id="role" *ngIf="step == 'role'" [@slideInOut]>
                    <h2 class="mat-headline">Quel sera votre rôle dans HouseKeeper?</h2>
                    <mat-form-field appearance="outline">
                        <mat-label>S'enregistrer en tant que</mat-label>
                        <mat-select formControlName="role">
                            <mat-option *ngFor="let role of roles" [value]="role">
                                {{role}}
                            </mat-option>
                        </mat-select>
                        <mat-error >S'il vous plaît, choisissez votre rôle</mat-error>
                    </mat-form-field>
                </div>

            </form>
            <form class="signup-form-container" novalidate [formGroup]="formCodeEmail">
                <div id="code" *ngIf="step === 'code'" [@slideInOut]>
                    <h2 class="mat-headline">Code de vérification envoyé à votre adresse mail</h2>
                    <mat-form-field appearance="outline">
                        <mat-label>Code de vérification</mat-label>
                        <input matInput placeholder="Code Email" formControlName="code" required>
                        <mat-error class="alert alert-danger" *ngIf="formCodeEmail.invalid">Code requis</mat-error>
                    </mat-form-field>
                    <div class="margin">
                        <input class="mat-body" type="checkbox" [(ngModel)]="cgu" [ngModelOptions]="{standalone: true}"> J'accepte les conditions générales d'utilisations.
                    </div>
                </div>
            </form>
            <mat-error *ngIf="errorMsg">{{errorMsg}}</mat-error>
            <button id="continueButton" mat-button type="submit" (click)="continue(form.value, formCodeEmail.value)" [disabled]="step == 'code' && !cgu">
                Continuer
            </button>

        </div>

    </mat-sidenav-content>
</mat-sidenav-container>
<app-legal-bar></app-legal-bar>
