mat-accordion {
    padding: 10px;
}

form {
    flex-direction: column;
    width: 140vh;
}


mat-expansion-panel {
    background: rgb(133,158,248);
    margin-bottom: 1%;
    margin-top: 1%;
}

mat-panel-description {
    color: white;
}


.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
    flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
    justify-content: space-between;
    align-items: center;
}


.sectionTypeLogement {
    display: flex;
    align-content: center;
    align-items: center;
}

.margin {
    margin: 0 10px;
}
