<mat-accordion class="example-headers-align">
    <form novalidate [formGroup]="form">
        <!-- Caractéristiques générales -->
        <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle>
            <mat-expansion-panel-header class="right-aligned-header">
                <mat-panel-title>
                    <mat-icon svgIcon="icon-houses"></mat-icon>
                </mat-panel-title>
                <mat-panel-description>
                    Caractéristiques générales
                </mat-panel-description>
            </mat-expansion-panel-header>
            <div class="centerElement">
                <mat-form-field class="margin" appearance="outline">
                    <mat-label>Type de logement</mat-label>
                    <mat-select placeholder="Type de logement" formControlName="houseType" required name="houseType">
                        <mat-option value="maison">Maison</mat-option>
                        <mat-option value="appartement">Appartement</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="centerElement">
                <mat-form-field class="margin" appearance="outline">
                    <mat-label>Résidence</mat-label>
                    <mat-select placeholder="Résidence" formControlName="residence" required name="residence">
                        <mat-option value="principale">Principale</mat-option>
                        <mat-option value="secondaire">Secondaire</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="centerElement">
                <mat-form-field class="margin" appearance="outline">
                    <mat-label>Nom du logement</mat-label>
                    <input matInput placeholder="Nom du logement" formControlName="houseName" minlength="5" required
                           name="houseName"/>
                    <mat-error *ngIf="form.get('houseName').dirty && form.get('houseName').hasError('required')">
                        Nom du logement est <strong>requis</strong>
                    </mat-error>
                    <mat-error *ngIf="form.get('houseName').dirty && form.get('houseName').hasError('minlength')">
                        Nom du logement requière <strong>5 caractères minimum</strong>
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="centerElement">
                <mat-form-field class="margin" appearance="outline">
                    <mat-label>Extérieur</mat-label>
                    <mat-select placeholder="Extérieur" formControlName="exterieur" name="exterieur">
                        <mat-option value="1">Oui</mat-option>
                        <mat-option value="0">Non</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="centerElement">
                <mat-form-field class="margin" appearance="outline">
                    <mat-label>Année de construction</mat-label>
                    <input matInput placeholder="Année de construction" formControlName="constructionYear"
                           name="constructionYear"/>
                    <mat-error
                            *ngIf="form.get('constructionYear').hasError('pattern')">
                        Année de construction doit être un <strong>nombre de 4 chiffres</strong>
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="centerElement">
                <mat-form-field class="margin" appearance="outline">
                    <mat-label>Type</mat-label>
                    <mat-select placeholder="Type" formControlName="standardType" required name="standardType"
                                (selectionChange)="changeType()">
                        <mat-option *ngFor="let type of types" [value]="type.value">
                            {{type.value}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <mat-action-row>
                <button mat-button color="primary" (click)="nextStep()">Next</button>
            </mat-action-row>
        </mat-expansion-panel>

        <!-- Adresse -->
        <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" hideToggle>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <mat-icon svgIcon="icon-maps"></mat-icon>
                </mat-panel-title>
                <mat-panel-description>
                    Adresse du logement
                </mat-panel-description>
            </mat-expansion-panel-header>
            <div class="centerElement">
                <mat-form-field class="margin" appearance="outline">
                    <mat-label>Pays</mat-label>
                    <mat-select placeholder="Pays" formControlName="pays" required name="pays"
                                (selectionChange)="changeType()">
                        <mat-option *ngFor="let p of pays" [value]="p">
                            {{p}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="centerElement">
                <mat-form-field class="margin" appearance="outline">
                    <mat-label>Adresse postal</mat-label>
                    <input matInput placeholder="Adresse postal" formControlName="address" required
                           name="address"/>
                    <mat-error *ngIf="form.get('address').dirty && form.get('address').hasError('required')">
                        Adresse postal est <strong>requise</strong>
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="centerElement">
                <mat-form-field class="margin" appearance="outline">
                    <mat-label>Code postal</mat-label>
                    <input matInput placeholder="Code postal" formControlName="postalCode" required
                           name="postalCode"/>
                    <mat-error *ngIf="form.get('postalCode').dirty && form.get('postalCode').hasError('required')">
                        Code postal est <strong>requis</strong>
                    </mat-error>
                    <mat-error
                            *ngIf="form.get('postalCode').hasError('pattern')">
                        Code postal doit être un <strong>nombre de 5 chiffres</strong>
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="centerElement">
                <mat-form-field class="margin" appearance="outline">
                    <mat-label>Ville</mat-label>
                    <input matInput placeholder="Ville" formControlName="city" required
                           name="city"/>
                    <mat-error *ngIf="form.get('city').dirty && form.get('city').hasError('required')">
                        Ville est <strong>requise</strong>
                    </mat-error>
                </mat-form-field>
            </div>
            <mat-action-row>
                <button mat-button color="warn" (click)="prevStep()">Previous</button>
                <button mat-button color="primary" (click)="nextStep()">Next</button>
            </mat-action-row>
        </mat-expansion-panel>

        <!-- Confirmation Adresse -->
        <mat-expansion-panel [expanded]="step === 2" (opened)="setStep(2)" hideToggle>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <mat-icon svgIcon="icon-maps"></mat-icon>
                </mat-panel-title>
                <mat-panel-description>
                    Confirmation Adresse du logement
                </mat-panel-description>
            </mat-expansion-panel-header>

            <mat-card class="mat-whiteframe-2dp">
                <mat-card-title-group>
                    <mat-card-title>
                        <span>{{form.get('houseName').value}}</span>
                    </mat-card-title>

                </mat-card-title-group>
                <mat-card-content>
                    <div>
                        {{form.get('address').value}}
                    </div>
                    <div>
                        {{form.get('postalCode').value}} {{form.get('city').value}}
                    </div>
                    <div>
                        {{form.get('pays').value}}
                    </div>
                </mat-card-content>
            </mat-card>

            <mat-action-row>
                <button mat-button color="warn" (click)="prevStep()">Modifier l'adresse</button>
                <button mat-button color="primary" (click)="nextStep()">Continuer</button>
            </mat-action-row>
        </mat-expansion-panel>

        <!-- Énergie -->
        <mat-expansion-panel [expanded]="step === 3" (opened)="setStep(3)" hideToggle>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <mat-icon svgIcon="icon-energy"></mat-icon>
                </mat-panel-title>
                <mat-panel-description>
                    Énergie
                </mat-panel-description>
            </mat-expansion-panel-header>

            <div class="centerElement">
                <mat-form-field class="margin" appearance="outline">
                    <mat-label>Classe Énergétique</mat-label>
                    <mat-select placeholder="Classe Énergétique" formControlName="classeEnergetique"
                                name="classeEnergetique">
                        <mat-option *ngFor="let p of classEnergetique" [value]="p">
                            {{p}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="centerElement">
                <mat-form-field class="margin" appearance="outline">
                    <mat-label>Gaz</mat-label>
                    <mat-select placeholder="Gaz" formControlName="gaz"  name="gaz">
                        <mat-option value="1">Oui</mat-option>
                        <mat-option value="0">Non</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="centerElement">
                <mat-form-field class="margin" appearance="outline">
                    <mat-label>Électricité</mat-label>
                    <mat-select placeholder="Électricité" formControlName="electricite"  name="electricite">
                        <mat-option value="1">Oui</mat-option>
                        <mat-option value="0">Non</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="centerElement">
                <mat-form-field class="margin" appearance="outline">
                    <mat-label>Panneaux photovoltaïques</mat-label>
                    <mat-select placeholder="Panneaux photovoltaïques" formControlName="panneauxPhoto"
                                name="panneauxPhoto">
                        <mat-option value="1">Oui</mat-option>
                        <mat-option value="0">Non</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="centerElement">
                <mat-form-field class="margin" appearance="outline">
                    <mat-label>Éolienne</mat-label>
                    <mat-select placeholder="Éolienne" formControlName="eolienne"  name="eolienne">
                        <mat-option value="1">Oui</mat-option>
                        <mat-option value="0">Non</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <mat-action-row>
                <button mat-button color="warn" (click)="prevStep()">Previous</button>
                <button mat-button color="primary" (click)="nextStep()">Next</button>
            </mat-action-row>
        </mat-expansion-panel>

        <!-- Pièces -->
        <mat-expansion-panel [expanded]="step === 4" (opened)="setStep(4)" hideToggle>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <mat-icon svgIcon="icon-door"></mat-icon>
                </mat-panel-title>
                <mat-panel-description>
                    Vos pièces
                </mat-panel-description>
            </mat-expansion-panel-header>
            <button mat-button="add" (click)="addItem()">
                <mat-icon svgIcon="icon-add"></mat-icon>
            </button>
            <div formArrayName="rooms" *ngFor="let piece of form.get('rooms').controls; let i = index;">
                <div [formGroupName]="i">
                    <button mat-button (click)="deletePiece(form.get('rooms').controls[i].get('id').value)">
                        <mat-icon svgIcon="icon-delete"></mat-icon>
                    </button>
                    <mat-form-field class="margin" appearance="outline">
                        <mat-label>Nom de la pièce</mat-label>
                        <input matInput placeholder="Nom de la pièce" formControlName="roomName" required
                               name="piece{{piece.id}}"/>
                        <mat-error
                                *ngIf="form.get('rooms').controls[i].get('roomName').dirty && form.get('rooms').controls[i].get('roomName').hasError('required')">
                            Le nom de la pièce est <strong>requis</strong>
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field class="margin" appearance="outline">
                        <mat-label>Surface</mat-label>
                        <input matInput placeholder="Surface" formControlName="space" required
                               name="space{{piece.id}}"/>
                        <mat-error
                                *ngIf="form.get('rooms').controls[i].get('space').dirty && form.get('rooms').controls[i].get('space').hasError('required')">
                            La surface de la pièce est <strong>requise</strong>
                        </mat-error>
                        <mat-error
                                *ngIf="form.get('rooms').controls[i].get('space').hasError('pattern')">
                            La surface de la pièce doit être un <strong>nombre</strong>
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field class="margin" appearance="outline">
                        <mat-label>Nombre de fenêtres</mat-label>
                        <input matInput placeholder="Nombre de fenêtres" formControlName="nbFenetre"
                               name="nbFenetre{{piece.id}}"/>
                        <mat-error
                                *ngIf="form.get('rooms').controls[i].get('nbFenetre').hasError('pattern')">
                            Le nombre de fenêtres doit être un <strong>nombre</strong>
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field class="margin" appearance="outline">
                        <mat-label>Nombre de portes fenêtres</mat-label>
                        <input matInput placeholder="Nombre de portes fenêtres" formControlName="nbPorteFenetre"
                               name="nbPorteFenetre{{piece.id}}"/>
                        <mat-error
                                *ngIf="form.get('rooms').controls[i].get('nbPorteFenetre').hasError('pattern')">
                            Le nombre de portes fenêtres doit être un <strong>nombre</strong>
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field class="margin" appearance="outline">
                        <mat-label>Type de chauffage</mat-label>
                        <mat-select placeholder="Type de chauffage" formControlName="typeChauffage" >
                            <mat-option value="radiateur">Radiateur</mat-option>
                            <mat-option value="sol">Sol</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field class="margin" appearance="outline"
                                    *ngIf="form.get('rooms').controls[i].get('typeChauffage').value === 'radiateur'">
                        <mat-label>Nombre de radiateurs</mat-label>
                        <input matInput placeholder="Nombre de radiateurs" formControlName="nbRadiateur"
                               name="nbRadiateur{{piece.id}}"/>
                        <mat-error
                                *ngIf="form.get('rooms').controls[i].get('nbRadiateur').hasError('pattern')">
                            Le nombre de radiateurs doit être un <strong>nombre</strong>
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field class="margin" appearance="outline">
                        <mat-label>Volet</mat-label>
                        <mat-select placeholder="Volet" formControlName="volet" >
                            <mat-option value="1">Oui</mat-option>
                            <mat-option value="0">Non</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field class="margin" appearance="outline"
                                    *ngIf="form.get('rooms').controls[i].get('volet').value === '1'">
                        <mat-label>Nombre de volets</mat-label>
                        <input matInput placeholder="Nombre de volets" formControlName="nbVolet"
                               name="nbVolet{{piece.id}}"/>
                        <mat-error
                                *ngIf="form.get('rooms').controls[i].get('nbVolet').hasError('pattern')">
                            Le nombre de volets doit être un <strong>nombre</strong>
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="centerElement">
                <mat-form-field class="margin" appearance="outline">
                    <mat-label>Revêtement extérieur</mat-label>
                    <input matInput placeholder="Revêtement extérieur" formControlName="revetementExterieur"
                           name="revetementExterieur"/>
                </mat-form-field>
            </div>
            <div class="centerElement">
                <mat-form-field class="margin" appearance="outline">
                    <mat-label>Surface Toiture</mat-label>
                    <input matInput placeholder="Surface Toiture" formControlName="surfaceToiture"
                           name="surfaceToiture"/>
                    <mat-error
                            *ngIf="form.get('surfaceToiture').hasError('pattern')">
                        Surface toiture doit être un <strong>nombre</strong>
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="centerElement">
                <mat-form-field class="margin" appearance="outline">
                    <mat-label>Revêtement toiture</mat-label>
                    <input matInput placeholder="Revêtement toiture" formControlName="revetementToiture"
                           name="revetementToiture"/>
                </mat-form-field>
            </div>

            <mat-action-row>
                <button mat-button color="warn" (click)="prevStep()">Previous</button>
                <button mat-button color="primary" (click)="nextStep()">Next</button>
            </mat-action-row>
        </mat-expansion-panel>

        <!-- Extérieur -->
        <mat-expansion-panel *ngIf="form.get('exterieur').value === '1'" [expanded]="step === 5" (opened)="setStep(5)"
                             hideToggle>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <mat-icon svgIcon="icon-tree"></mat-icon>
                </mat-panel-title>
                <mat-panel-description>
                    Extérieur
                </mat-panel-description>
            </mat-expansion-panel-header>

            <div class="centerElement">
                <mat-form-field class="margin" appearance="outline">
                    <mat-label>Surface total</mat-label>
                    <input matInput placeholder="Surface total" formControlName="outsideSpace"
                           name="outsideSpace"/>
                    <mat-error
                            *ngIf="form.get('outsideSpace').hasError('pattern')">
                        Surface total doit être un <strong>nombre</strong>
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="centerElement">
                <mat-form-field class="margin" appearance="outline">
                    <mat-label>Surface à l’avant</mat-label>
                    <input matInput placeholder="Surface à l’avant" formControlName="surfaceExterieurAvant"
                           name="surfaceExterieurAvant"/>
                    <mat-error
                            *ngIf="form.get('surfaceExterieurAvant').hasError('pattern')">
                        Surface à l’avant doit être un <strong>nombre</strong>
                    </mat-error>

                </mat-form-field>
            </div>
            <div class="centerElement">
                <mat-form-field class="margin" appearance="outline">
                    <mat-label>Surface côté droit</mat-label>
                    <input matInput placeholder="Surface côté droit" formControlName="surfaceExterieurDroit"
                           name="surfaceExterieurDroit"/>
                    <mat-error
                            *ngIf="form.get('surfaceExterieurDroit').hasError('pattern')">
                        Surface côté droit doit être un <strong>nombre</strong>
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="centerElement">
                <mat-form-field class="margin" appearance="outline">
                    <mat-label>Surface côté gauche</mat-label>
                    <input matInput placeholder="Surface côté gauche" formControlName="surfaceExterieurGauche"
                           name="surfaceExterieurGauche"/>
                    <mat-error
                            *ngIf="form.get('surfaceExterieurGauche').hasError('pattern')">
                        Surface côté gauche doit être un <strong>nombre</strong>
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="centerElement">
                <mat-form-field class="margin" appearance="outline">
                    <mat-label>Surface à l’arrière</mat-label>
                    <input matInput placeholder="Revêtement toiture" formControlName="surfaceExterieurArriere"
                           name="surfaceExterieurArriere"/>
                    <mat-error
                            *ngIf="form.get('surfaceExterieurArriere').hasError('pattern')">
                        Surface à l’arrière doit être un <strong>nombre</strong>
                    </mat-error>
                </mat-form-field>
            </div>

            <mat-action-row>
                <button mat-button color="warn" (click)="prevStep()">Previous</button>
                <button mat-button color="primary" (click)="nextStep()">Next</button>
            </mat-action-row>
        </mat-expansion-panel>


        <!-- Commentaire -->
        <mat-expansion-panel [expanded]="step === 6" (opened)="setStep(6)" hideToggle>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <mat-icon svgIcon="icon-message"></mat-icon>
                </mat-panel-title>
                <mat-panel-description>
                    Commentaire
                </mat-panel-description>
            </mat-expansion-panel-header>
            <div>
                <mat-form-field class="margin textaeraPerso" appearance="outline">
                    <mat-label>Commentaire</mat-label>
                    <textarea matInput placeholder="Commentaire sur votre habitation" formControlName="comment"
                              name="comment"></textarea>
                </mat-form-field>
            </div>
            <mat-action-row>
                <button mat-button color="warn" (click)="prevStep()">Previous</button>
                <!--button mat-button color="primary" type="submit" (click)="submit(form.value)">Save</button-->
                <button *ngIf="isUpdateMode === false" mat-button color="primary" type="submit"
                        (click)="submit(form.value)" [disabled]="form.invalid">
                    Enregistrer
                </button>
                <button *ngIf="isUpdateMode === true" mat-button color="primary" type="submit"
                        (click)="modifier(form.value)" [disabled]="form.invalid">
                    Modifier
                </button>
            </mat-action-row>
        </mat-expansion-panel>
    </form>
</mat-accordion>
