#buttonMenu {
    min-width: 200px;
    height:100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    padding:40px;
    overflow-y:hidden;
}

#buttonMenu::-webkit-scrollbar {
    display: none;
}

.titleField {
    font-weight: bold;
    font-size:1em;
    line-height:50px;
    align-self:center;
}

#menuTitle {
    font-size:1.2em;
}

mat-icon {
    align-self: center;
    vertical-align: center;
    float:left;
}

.fieldClass {
    display:flex;
    flex-direction: column;
    justify-content: center;
    /*align-items:center;*/
}

.centered {
    display:flex;
    align-content: center;
}

.subfieldSpan {
    font-weight: lighter;
    margin-left:40px;
}
