<div id="buttonMenu">
    <div *ngFor="let field of fields | keyvalue; let i = index" class="fieldClass">
        <span class="centered">
             <a class="centered" *ngIf="fieldParent(field) === false" mat-button (click)="setStep(field.value.title)"
                class="titleField">{{field.value.title}}</a>
            <a class="centered" *ngIf="fieldParent(field) === true" style="color: #5c6d9e" mat-button (click)="setStep(field.value.title)"
               class="titleField">{{field.value.title}}</a>
        </span>
        <span class="centered subfieldSpan" *ngFor="let subfield of field.value.values">
            <span *ngIf="fieldContains(subfield)">
                <a *ngIf="step === subfield" style="color: #5c6d9e" mat-button (click)="setStep(subfield)">{{subfield.title}}</a>
                <a *ngIf="step !== subfield" mat-button (click)="setStep(subfield)">{{subfield.title}}</a>
            </span>
        </span>
    </div>
</div>
