:host {
    display: flex;
    flex-direction: column;
    outline: none;
    width: 100%;

    .mat-list-item.active {
        background-color: #A1ADCD
    }
    &:hover {
        cursor: pointer;
        >.mat-list-item:not(.expanded) {
            background-color: #A1ADCD
        }
    }
    &:focus {


    }
}

.mat-list-item {
    padding: 8px 0;
    display: flex;
    width: auto;

    .routeIcon {
        margin-right: 40px !important;
    }

    .mat-list-item-content {
        width:100% !important;
    }

}

.side-content {
    width: 100%;
    display: flex !important;
    align-content: center !important;
    align-items: center !important;
}

.side-content mat-icon {
    margin-left:auto;
    justify-self: flex-end;
    margin-top:5px;
}
