#travauxImg {
    width:400px;
    height:250px;
}

.content-page {
    display:flex;
    flex-wrap: wrap;
    padding:40px;
    height:calc(100vh - 130px);
    top:130px;
    justify-content: space-between;
}
