@import '~@angular/material/theming';

@include mat-core();

$md-primary: (
        50 : #f1f3f8,
        100 : #dde1ec,
        200 : #c6cde0,
        300 : #afb9d4,
        400 : #9daaca,
        500 : #8c9bc1,
        600 : #8493bb,
        700 : #7989b3,
        800 : #6f7fab,
        900 : #5c6d9e,
        A100 : #ffffff,
        A200 : #d6e1ff,
        A400 : #a3bbff,
        A700 : #8aa8ff,
        contrast: (
                50 : #000000,
                100 : #000000,
                200 : #000000,
                300 : #000000,
                400 : #000000,
                500 : #000000,
                600 : #000000,
                700 : #000000,
                800 : #ffffff,
                900 : #ffffff,
                A100 : #000000,
                A200 : #000000,
                A400 : #000000,
                A700 : #000000,
        )
);

$md-secondary: (
        50 : #e8e7ed,
        100 : #c5c4d1,
        200 : #9e9cb3,
        300 : #777494,
        400 : #59577d,
        500 : #3c3966,
        600 : #36335e,
        700 : #2e2c53,
        800 : #272449,
        900 : #1a1738,
        A100 : #8279ff,
        A200 : #5346ff,
        A400 : #2413ff,
        A700 : #1200f8,
        contrast: (
                50 : #000000,
                100 : #000000,
                200 : #000000,
                300 : #ffffff,
                400 : #ffffff,
                500 : #ffffff,
                600 : #ffffff,
                700 : #ffffff,
                800 : #ffffff,
                900 : #ffffff,
                A100 : #000000,
                A200 : #ffffff,
                A400 : #ffffff,
                A700 : #ffffff,
        )
);
/* For use in src/lib/core/theming/_palette.scss */
$md-accent: (
        50 : #fbfeec,
        100 : #f5fdd0,
        200 : #eefbb1,
        300 : #e7f992,
        400 : #e1f87a,
        500 : #dcf763,
        600 : #d8f65b,
        700 : #d3f551,
        800 : #cef347,
        900 : #c5f135,
        A100 : #ffffff,
        A200 : #ffffff,
        A400 : #f4ffd2,
        A700 : #edffb8,
        contrast: (
                50 : #000000,
                100 : #000000,
                200 : #000000,
                300 : #000000,
                400 : #000000,
                500 : #000000,
                600 : #000000,
                700 : #000000,
                800 : #000000,
                900 : #000000,
                A100 : #000000,
                A200 : #000000,
                A400 : #000000,
                A700 : #000000,
        )
);




$color1: rgba(61, 59, 105, 1);
$color2: rgba(142, 157, 195, 1);
$color3: rgba(132, 140, 142, 1);
$color4: rgba(220, 247, 99, 1);
$color5: rgba(191, 183, 182, 1);

$custom-theme-primary: mat-palette($md-primary);
$custom-theme-accent: mat-palette($md-accent);
$custom-theme-warn: mat-palette($md-accent);

$custom-theme: mat-light-theme($custom-theme-primary, $custom-theme-accent, $custom-theme-warn);

@include angular-material-theme($custom-theme);
