/*@import '~@angular/material/theming';

@include mat-core();
@import '../theme.scss';

.my-theme {

  @include angular-material-theme($theme);
}*/

//@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import './custom-theme.scss';

body {
    height:100%;
    margin: 0;
}

html {
    height:100%;
}


.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle{
    border-color: #603FB0 !important;

}

.mat-radio-button.mat-accent .mat-radio-inner-circle{
    color: #603FB0;
    background-color: #603FB0 !important;
}

.mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element {
    background-color: #603FB0 !important;
}
