/*@import '~@angular/material/theming';

@include mat-core();
@import '../theme.scss';

.my-theme {

  @include angular-material-theme($theme);
}*/

/*@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';*/
@import './custom-theme.scss';

body {
    height:100%;
}

html {
    height:100%;
}

.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle{
    border-color: white;
}

.mat-radio-button.mat-accent .mat-radio-inner-circle{
    color: white;
    background-color: white;
}

.mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element {
    background-color: white;
}
